'.source.txt':
  'editor':
    'commentStart': '#'
    'completions': [
      'autovyber'
      'prvni_vyhovujici'
      'nahodny'
      'zadny'
      'zachytny_bod'
      'vyloucena'
      'podminena'
      'priznak'
      'odstranit_priznak'
      'poziraci'
      'nedokonceno'
      'prohra'
      'pauza'
      'kategorie'
      'ilustrace'
      'pozadi'
      'kapitola'
      'test_zakladni_tema'
      'obrazky_prefix'
      'minihra'
      'popis'
      'obrazek'
      'hash'
      'superuzel'
    ]
